streamlit
numpy==1.26.4 # IMPORTANT: Downgrade for RDKit compatibility
pandas
joblib
matplotlib
seaborn
requests
rdkit-pypi==2022.9.5
tensorflow==2.14.0
scipy
scikit-learn
xgboost
Pillow
