streamlit
numpy
pandas
joblib
matplotlib
requests
rdkit-pypi # No version specified might be best for now, or specify a non-bleeding-edge one
tensorflow # Or tensorflow==2.10.0
scipy
scikit-learn
xgboost
Pillow
